<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table{
      font-size: 21px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a{
      text-decoration: none;
      display: inline-block;
      background-color: #264972;
      color: #fff;
      padding: 5px;
      border-radius: 10px;
    }
  </style>
</head>
<body>

  <h1 align="center">add student new recodes</h1>

  <form method="post" action="/insertdata">
    <table align="center" cellspacing="0" cellpadding="2" border="">
      <tr>
        <td>Roll No: </td>
        <td><input type="number" name="rollno" value=""></td>
      </tr>
      <tr>
        <td>Name: </td>
        <td><input type="text" name="name" value=""></td>
      </tr>
      <tr>
        <td>coures: </td>
        <td><input type="text" name="coures" value=""></td>
      </tr>
      <tr>
        <td>Grade: </td>
        <td><input type="text" name="grade" value=""></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit"></td>
      </tr>
    </table>
  </form>


  <h2 align="center">Student DataBase</h2>
  <table align="center" cellspacing="0" cellpadding="2" border width="80%">
    <tr>
      <th>Roll No</th>
      <th>Name</th>
      <th>course</th>
      <th>Grade</th>
      <th>Action</th>
    </tr>

    <% student.map((val)=>{ %>
        <tr>
          <td><%= val.rollno %></td>
          <td><%= val.name %></td>
          <td><%= val.coures %></td>
          <td><%= val.grade  %></td>
          <td width="120px">
            <a href="/deleteData?rollno=<%= val.rollno %>">Delete</a>
            <a href="/editData?rollno=<%= val.rollno%>">Edit</a>
          </td>
        </tr>
    <% }) %>

  </table>
</body>
</html>