<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1,h2{
      text-align: center;
      font-size: 46px;
    }

    table{
      font-size: 24px; 
    }

    .table2{
      width:80%;
    }

    .btn{
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      text-decoration: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
    }
    .btn-danger{
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
    }
    .btn-warning{
      color: #000;
      background-color: #ffc107;
      border-color: #ffc107;
    }
  </style>
</head>
<body>
  <h1>User DataBase</h1>
  
  <form method="post" action="/insertdata">
    <table border="" cellspacing="0" cellpadding="5" align="center">
      <tr>
        <td>User Id:- </td>
        <td><input type="number" name="userid"></td>
      </tr>
      <tr>
        <td>User Name:- </td>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>Email Id:- </td>
        <td><input type="email" name="email"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td>Phone No:- </td>
        <td><input type="number" name="phone"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit"></td>
      </tr>
    </table>
  </form>

  <h2>Show Data</h2>
  <table class="table2" border="" cellspacing="0" cellpadding="5" align="center">
    <tr>
      <th>User Id</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone No</th>
      <th>Action</th>
    </tr>

      <% student.map((val)=>{ %>
        
        <tr>
          <td><%= val.userid %></td>
          <td><%= val.name %></td>
          <td><%= val.email %></td>
          <td><%= val.password %></td>
          <td><%= val.phone %></td>
          <td>
            <a href="/deleteData?userid=<%= val.userid %>" class="btn btn-danger">Delete</a>
            <a href="/editData?userid=<%= val.userid %>" class="btn btn-warning">Edit</a>
          </td>
        </tr>

      <% }) %>

  </table>
</body>
</html>